{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a page title.
 *
 *
 * @ingroup themeable
 */
#}
{% block content %}
  <h1 class="ui dividing header">{{ title }}</h1>
{% endblock %}